[flake8]
disable-noqa = False
max-line-length = 140
max-complexity = 10
extend-ignore = E203
per-file-ignores =
    notebooks/*.py = F401
exclude =
    .git,
    __pycache__,
    generate_norms.py,
    .eggs
    .json